#Don't index stuff. So stupid people can't get into this folder and decide stuff isn't there and then email you about it without bothering to actually check they're right first.
#Options -Indexes




